<html>
{{ template "header.snippet" (Wrap "Title" "Simple OIDC") }}

<body>
    <h1>Simple OIDC</h1>

    {{/*
    Client id is: {{.Params.ClientId}} <br/>
    */}}

    {{ if .ExistingAuthorization }}
    <p>You have already logged into this provider before</p>
    {{ template "client_authorization_summary.snippet" .ExistingAuthorization }}
    {{ else }}
    <p>This is the first time logging into this provider</p>
    {{ end }}
    <br>

    (authenticated accept screen)
    {{ template "accept_summary.snippet" .Params }}

    <br>
    {{/*
    <div class="ClientAuthorizations">
        {{ if gt (len .ClientAuthorizations) 0 }}
        <p>You are currently authorized with the following other clients</p>
        {{ range $ca := .ClientAuthorizations }}
        {{ template "client_authorization_summary.snippet" $ca }}
        <br />
        {{ end }}
        {{ else }}
        <p>You are not currently authorized with any other clients</p>
        {{ end }}
    </div>
    */}}


    <p><a href="/confirm">Confirm Login</a></p>
    <p><a href="/logout">Logout</a></p>
</body>

</html>