<!DOCTYPE html>
<html>
    {{ template "header.snippet" (Wrap "Title" "Simple OIDC") }}
    <body>
        <h1>Simple OIDC</h1>

        <h1>Simple OIDC</h1>
        <p>Welcome to Simple Oidc</p>
        <p>Please log or register in to contiume</p>
        <p>
            Note, this is with Simple OIDC, you will be able to choose 
            if you want to authorize any providers or not on the next screen.
        </p>


        {{ template "accept_summary.snippet" .Params }}

        <p>Login or Register to Confirm Login</p>

        <a href="/login">Login</a>
        <a href="/register">Register</a>

        <pre>
            Login
            Register
        </pre>
    </body>
</html>