<!DOCTYPE html>
<html>
{{ template "header.snippet" (Wrap "Title" "Simple OIDC") }}

<body>
    <section class="section">
    <h1 class="title is-1">Simple OIDC</h1>
    <p>Account Management</p>

    <div class="ClientAuthorizations">
    {{ if gt (len .ClientAuthorizations) 0 }}
    <p>You are currently authorized with the following clients:</p>
    <br/>
    
    {{ range $ca := .ClientAuthorizations }}
    {{ template "client_authorization_details.snippet" $ca }}
    <br/>
    {{ end }}
    {{ else }}
    <p>You are not currently authorized with any clients</p>
    {{ end }}
    </div>

    <p><a class="button is-primary" href="/logout">Logout</a></p>

    </section>
</body>

</html>