


@media (prefers-color-scheme: dark) {
    body {
        color: #b0b0b0;
        background-color: #101010;
    }
 
    .containerOuter {
        background-color: #000;
        color: #b0b0b0;
    }
 
    .blogBodyContainer {
        background-color: #101010;
    }
 
    .line-tan {
        background: initial;
    }
 
    #mainContent {
        background-color: #000;
    }
}