<div>
    ClientId: {{ .ClientId }} (todo: client name -> hyperlink) <br/>
    LastRefreshed        {{ time .LastRefreshedAt "since" }} <br/>
    <a href="/deauthorize/{{ .ClientId }}">(deauthorize)</a> <br/>
<div>