<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> {{ Coalesce .Title "Simple OIDC" }}</title>
    <script type="text/javascript" src="/htmx.js"></script>
    <script type="text/javascript" src="/header.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/bulma.min.css" media="screen" />
</head>