<html>

<head>
    <title>Testharness for Simple OIDC</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Testharness</h1>
    <div>N.B. Testharness is an inherrently insecure test tool to allow manual play</div>

    <div class="outlined">Logged In: {{ .LoggedIn }}
        {{ if .LoggedIn }}
        <div>
            <ul>
                <li>Sub: {{ .IdToken.Subject }}</li>
                <li>Iss: {{ .IdToken.Issuer }}</li>
                <li>Aud: {{ .IdToken.Audience }}</li>
            </ul>
            <form method="post">
                    <input type="hidden" name="op" value="logout">
                    <input type="submit" value="Logout">
                </form>
        </div>
        {{ end }}
    </div>


    {{ $Issuer := .Issuer }}
    {{ $RedirectUri := .RedirectUri }}
    <div class="outlined">
        OIDC Clients:
        <ul>
            {{ range $client := Clients }}
            <li class="outlined">
                <form method="post">
                    <input type="hidden" name="op" value="delete">
                    <input type="hidden" name="id" value="{{ $client.ClientId }}">
                    <input type="submit" value="Delete">
                </form>
                Client id: <span class="clientId">{{ $client.ClientId }}</span>
                <ul>
                    <li>
                        <a id="authorize_{{ $client.ClientId }}" class="authorize"
                            href="{{ $Issuer }}/authorize?client_id={{ $client.ClientId }}&response_type=code&scope=all&redirect_uri={{ $RedirectUri }}">
                            Auth Code Flow Login</a>
                    </li>
                    <li> with state and nonce</li>
                </ul>
            </li>
            {{ end }}
            <li>
                <form method="post">
                    <input type="hidden" name="op" value="create">
                    <input type="submit" value="Create">
                </form>
            </li>
        </ul>

        <ul>

            <li> Log into unknown cient</li>
            <li><form method="post">
                    <input type="hidden" name="op" value="init">
                    <input type="submit" value="Initialize Fiber-OIDC">
                </form></li>
            <li> <a href="https://localhost:8443/">View root</a></li>
            <li> <a href="https://localhost:8443/.well-known/jwks.json">View jwks</a></li>
            <li> <a href="https://localhost:8443/.well-known/openid-configuration">View openid configuration</a></li>
            
        </ul>

        <div>Issuer: {{ .Issuer }}</div>

        
        <div class="outlined">
            Datastore type: {{ .DatastoreType }} <br>
            Users:<br>
            <ul>
            {{ range $idx, $user := .AllUsers }}
                <li>{{ $user.Id }}</li>
            {{ end }}
            </ul>
        </div>
</body>

</html>